@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Poppins', 'PlayFair';
  color: #556070;
}

p {
  font-size: 16px;
  font-family: 'Poppins';
  line-height: 1.8;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer components {
  .section1 {
    background-image: url("/bg1.jpg");
    background-size: cover;
  }

  .soft_img {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(90 80 80 / 50%);
}

.section6 {
  background-image: url("/bg2.jpg");
  background-size: cover;
  padding: 5rem 0;
}
}